<a href="/pollingAgent/option" class="btn ml-4" style="margin-top: 5px; color: #503efe">back</a>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

 <h5 class="hero-text text-center">Live Results</h5>
<div class="tableDiv">
  <h2 class="mb-2">Total Votes Accumulated </h2>
  <table class="table table-striped mb-5">
    <thead>
      <tr>
        <th>Party</th>
        <th>Votes</th>
      </tr>
    </thead>
    <tbody>
      <% for (const party in partyVotes) { %>
      <tr>
        <td><%= party %></td>
        <td><%= partyVotes[party] %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  
  
  
  <h2 class="mt-4">Total Polling Unit Won</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Party</th>
        <th>No. of Polling Unit Won</th>
      </tr>
    </thead>
    <tbody>
      <% for (const party in winners) { %>
      <tr>
        <td><%= party %></td>
        <td><%= winners[party] %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>



<canvas id="partyVotesChart"></canvas>

<script>

  
  const partyVotes = JSON.parse('<%= JSON.stringify(partyVotes) %>');

  // Get the chart canvas element
  const partyVotesCanvas = document.getElementById("partyVotesChart");

  // Prepare the data for the chart
  const partyNames = Object.keys(partyVotes);
  const partyVoteCounts = Object.values(partyVotes);

  // Create the chart
  new Chart(partyVotesCanvas, {
    type: "bar",
    data: {
      labels: partyNames,
      datasets: [{
        label: "Party Votes",
        data: '<%= JSON.stringify(partyVotes) %>',
        backgroundColor: [
          "rgba(255, 99, 132, 0.5)", // APC
          "rgba(54, 162, 235, 0.5)", // PDP
          "rgba(255, 206, 86, 0.5)", // LP
          "rgba(75, 192, 192, 0.5)", // APGA
          "rgba(153, 102, 255, 0.5)" // ADC
        ],
        borderWidth: 1,
        borderColor: [
          "rgba(255, 99, 132, 1)", // APC
          "rgba(54, 162, 235, 1)", // PDP
          "rgba(255, 206, 86, 1)", // LP
          "rgba(75, 192, 192, 1)", // APGA
          "rgba(153, 102, 255, 1)" // ADC
        ]
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            precision: 0
          }
        }
      }
    }
  });
</script>
